In [1]:
# All important libraries
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px 
# set color palette 
sns.set_palette("Set2")
# ignore warnings 
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('GlobalWeatherRepository.csv')# Read csv file
df.head ()# for first five rows of datasets

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [3]:
df.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,59243.000000,59243.000000,5.924300e+04,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,...,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000,59243.000000
mean,19.136659,22.184817,1.729051e+09,22.196124,71.954628,8.278740,13.327262,169.218068,1014.132269,29.946718,...,19.117813,528.147191,63.481898,15.057822,11.395293,25.420754,51.001988,1.723951,2.701180,49.813986
std,24.476135,65.813452,7.653680e+06,9.636240,17.345043,9.267897,14.913487,103.693369,13.615288,0.402038,...,16.758359,946.118814,36.306475,26.382499,48.932463,44.728382,157.277658,0.992030,2.591999,35.150908
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.185000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.722514e+09,17.000000,62.600000,4.000000,6.500000,80.000000,1010.000000,29.830000,...,10.800000,227.000000,39.000000,0.925000,0.740000,5.600000,8.700000,1.000000,1.000000,15.000000
50%,17.250000,23.316700,1.729071e+09,25.000000,77.000000,6.900000,11.200000,160.000000,1013.000000,29.920000,...,16.600000,325.600000,60.100000,3.330000,2.300000,13.505000,20.600000,1.000000,2.000000,50.000000
75%,40.400000,50.580000,1.735641e+09,28.400000,83.200000,11.400000,18.400000,257.000000,1018.000000,30.050000,...,25.500000,506.900000,83.000000,16.465000,8.880000,29.600000,45.695000,2.000000,3.000000,85.000000
max,64.150000,179.220000,1.742205e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

In [4]:
print (f"Datasets info :{df.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59243 entries, 0 to 59242
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       59243 non-null  object
 1   location_name                 59243 non-null  object
 2   latitude                      59243 non-null  float64
 3   longitude                     59243 non-null  float64
 4   timezone                      59243 non-null  object
 5   last_updated_epoch            59243 non-null  int64
 6   last_updated                  59243 non-null  object
 7   temperature_celsius           59243 non-null  float64
 8   temperature_fahrenheit        59243 non-null  float64
 9   condition_text                59243 non-null  object
 10  wind_mph                      59243 non-null  float64
 11  wind_kph                      59243 non-null  float64
 12  wind_degree                   59243 non-null  int64
 13  wind_direction                59243 non-null  object
 14  pressure_mb                   59243 non-null  float64
 15  pressure_in                   59243 non-null  float64
 16  precip_mm                     59243 non-null  float64
 17  precip_in                     59243 non-null  float64
 18  humidity                      59243 non-null  int64
 19  cloud                         59243 non-null  int64
 20  feels_like_celsius            59243 non-null  float64
 21  feels_like_fahrenheit         59243 non-null  float64
 22  visibility_km                 59243 non-null  float64
 23  visibility_miles              59243 non-null  float64
 24  uv_index                      59243 non-null  float64
 25  gust_mph                      59243 non-null  float64
 26  gust_kph                      59243 non-null  float64
 27  air_quality_Carbon_Monoxide   59243 non-null  float64
 28  air_quality_Ozone             59243 non-null  float64
 29  air_quality_Nitrogen_dioxide  59243 non-null  float64
 30  air_quality_Sulphur_dioxide   59243 non-null  float64
 31  air_quality_PM2.5             59243 non-null  float64
 32  air_quality_PM10              59243 non-null  float64
 33  air_quality_us-epa-index      59243 non-null  int64
 34  air_quality_gb-defra-index    59243 non-null  int64
 35  sunrise                       59243 non-null  object
 36  sunset                        59243 non-null  object
 37  moonrise                      59243 non-null  object
 38  moonset                       59243 non-null  object
 39  moon_phase                    59243 non-null  object
 40  moon_illumination             59243 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 18.5+ MB
Datasets info :None

In [5]:
df.shape

(59243, 41)

In [6]:
# Missing Value for Data cleaning or preprocessing 
missing_values=df.isnull().sum()
print("Missing values:\n",missing_values)

Missing values:
 country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [7]:
# checks for duplicates 
duplicates_count =df.duplicated().sum()
print(duplicates_count)

0

In [8]:
# Show the last 50 unique values
unique_countries=df['country'].nunique()
num_unique_countries=df['country'].unique()[-50:]
print(f'Num Unique countries are: {unique_countries}')
print(f'There are {num_unique_countries} unique values in the country column.')

Num Unique countries are: 210
There are ['Suriname' 'Sweden' 'Switzerland' 'Syria' 'Tajikistan' 'Tanzania'
 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan'
 'Tuvalu' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe' 'Colombia'
 'USA United States of America' "Lao People's Democratic Republic" 'Libya'
 'Kosovo' 'Togo' 'Malásia' 'Komoren' 'كولومبيا' 'Estonie' 'Гватемала'
 'Inde' 'Letonia' 'Польша' 'Mexique' 'Polônia' 'Marrocos' 'Турция'
 'Saint-Vincent-et-les-Grenadines' 'Saudi Arabien' 'Südkorea' 'Bélgica'
 'Turkménistan' '火鸡' 'Jemen'] unique values in the country column.

In [9]:
# check for minimum and maximum values of the country column
min_country,max_country =df['country'].min(),df['country'].max()
print(f"the country which occurs minimum in the datasets is: {min_country}")
print(f"the country occurs maximum in the datasets is: {max_country}")

the country which occurs minimum in the datasets is: Afghanistan
the country occurs maximum in the datasets is: 火鸡

In [10]:
# show the last 50 unique values values 
num_unique_location_name=df['location_name'].nunique()
print(num_unique_location_name)

248

In [11]:
# lets check minimum and maximum values od the id column
min_location_name,max_location_name = df['location_name'].min(),df['location_name'].max()
print(f"the location name which occurs minimum in this dataset is: {min_location_name}")
print(f"the location name which occurs maximum in this datasets is:{max_location_name}")

the location name which occurs minimum in this dataset is: 'S Gravenjansdijk
the location name which occurs maximum in this datasets is:Zagreb

In [12]:
# count unique combination of the country and location and name 
country_location_count = df.groupby(['country','location_name']).size().reset_index(name='count')
print(country_location_count)
unique_countries= country_location_count['country'].nunique()
print(unique_countries)

         country     location_name  count
0    Afghanistan             Kabul    305
1        Albania            Tirana    305
2        Algeria           Algiers    304
3        Andorra  Andorra La Vella    305
4         Angola            Luanda    305
..           ...               ...    ...
255    Гватемала     New Guatemala      1
256       Польша            Beirut      1
257       Турция             Yaren      1
258     كولومبيا        Costa Rica      1
259           火鸡          -Kingdom      1

[260 rows x 3 columns]
210

In [13]:
#lets get the country and location with the highest temperature in celsius
highest_temp_celsius = df.loc[df['temperature_celsius'].idxmax(),['country','location_name','temperature_celsius']]
print("Country and Location with the Highest Temperature in Celsius:")
print(highest_temp_celsius)

Country and Location with the Highest Temperature in Celsius:
country                     Kuwait
location_name          Kuwait City
temperature_celsius           49.2
Name: 6896, dtype: object

In [14]:
# Lets Get the country and location with the highest temperature in Fahrenheit
highest_temp_fahrenheit = df.loc[df['temperature_fahrenheit'].idxmax(), ['country', 'location_name', 'temperature_fahrenheit']]
print("\nCountry and Location with the Highest Temperature in Fahrenheit:")
print(highest_temp_fahrenheit)

Country and Location with the Highest Temperature in Fahrenheit:
country                        Kuwait
location_name             Kuwait City
temperature_fahrenheit          120.6
Name: 6896, dtype: object

In [15]:
# Get the country and location with the lowest temperature in Celsius
lowest_temp_celsius = df.loc[df['temperature_celsius'].idxmin(), ['country', 'location_name', 'temperature_celsius']]
print("\nCountry and Location with the Lowest Temperature in Celsius:")
print(lowest_temp_celsius)

Country and Location with the Lowest Temperature in Celsius:
country                   Mongolia
location_name          Ulaanbaatar
temperature_celsius          -24.9
Name: 51564, dtype: object

In [16]:
# Get the country and location with the lowest temperature in Fahrenheit
lowest_temp_fahrenheit = df.loc[df['temperature_fahrenheit'].idxmin(), ['country', 'location_name', 'temperature_fahrenheit']]
# Correct print statement to show the lowest temperature
print("\nCountry and Location with the Lowest Temperature in Fahrenheit:")
print(lowest_temp_fahrenheit)

Country and Location with the Lowest Temperature in Fahrenheit:
country                      Mongolia
location_name             Ulaanbaatar
temperature_fahrenheit          -12.8
Name: 51564, dtype: object

In [17]:
# Lets Find the country and location with the highest latitude
highest_latitude = df.loc[df['latitude'].idxmax(), ['country', 'location_name', 'latitude']]
print("Country and Location with the Highest Latitude:")
print(highest_latitude)

Country and Location with the Highest Latitude:
country            Iceland
location_name    Reykjavik
latitude             64.15
Name: 8032, dtype: object

In [18]:
# Lets Find the country and location with the highest longitude
highest_longitude = df.loc[df['longitude'].idxmax(), ['country', 'location_name', 'longitude']]
print("\nCountry and Location with the Highest Longitude:")
print(highest_longitude)

Country and Location with the Highest Longitude:
country            Tuvalu
location_name    Funafuti
longitude          179.22
Name: 181, dtype: object

In [19]:
# Find the country and location with the lowest latitude
lowest_latitude = df.loc[df['latitude'].idxmin(), ['country', 'location_name', 'latitude']]
print("\nCountry and Location with the Lowest Latitude:")
print(lowest_latitude)
# Find the country and location with the lowest longitude
lowest_longitude = df.loc[df['longitude'].idxmin(), ['country', 'location_name', 'longitude']]
print("\nCountry and Location with the Lowest Longitude:")
print(lowest_longitude)

Country and Location with the Lowest Latitude:
country          New Zealand
location_name     Wellington
latitude               -41.3
Name: 123, dtype: object

Country and Location with the Lowest Longitude:
country               Tonga
location_name    Nuku`Aloia
longitude            -175.2
Name: 176, dtype: object

In [20]:
# Convert date columns to datetime
df['last_updated'] = pd.to_datetime(df['last_updated'], errors='coerce')
df['sunrise'] = pd.to_datetime(df['sunrise'], errors='coerce')
df['sunset'] = pd.to_datetime(df['sunset'], errors='coerce')
df['moonrise'] = pd.to_datetime(df['moonrise'], errors='coerce')
df['moonset'] = pd.to_datetime(df['moonset'], errors='coerce')

# Display the range of last updated dates
print("Range of last updated dates:", df['last_updated'].min(), "to", df['last_updated'].max())
earliest_update = df['last_updated'].min()
latest_update = df['last_updated'].max()
print("The Earliest Updated time is: ", earliest_update)
print("The Latest Updated time is: ", latest_update)

Range of last updated dates: 2024-05-16 01:45:00 to 2025-03-17 22:45:00
The Earliest Updated time is:  2024-05-16 01:45:00
The Latest Updated time is:  2025-03-17 22:45:00

In [21]:
# Lets check how many records were last updated in 2023?
last_updated_2024_count = df[df['last_updated'].dt.year == 2024].shape[0]
print(f"Records last updated in 2024: {last_updated_2024_count}")

Records last updated in 2024: 44469

In [22]:
# Lets get the number of month with highest humidity
df['month'] = pd.to_datetime(df['last_updated']).dt.month
highest_avg_humidity_month=df.groupby('month')['humidity'].mean().idxmax()
print("The Number of Month with highest humidity are: ", highest_avg_humidity_month)

The Number of Month with highest humidity are:  11

In [23]:
# location has the highest recorded wind speed
highest_wind_speed_location = df.loc[df['wind_mph'].idxmax(), 'location_name']
highest_wind_speed_value = df['wind_mph'].max()
print(f"Location with the highest wind speed is: {highest_wind_speed_location} ({highest_wind_speed_value:.2f} mph)")

Location with the highest wind speed is: Bujumbura (1841.20 mph)

In [24]:
# Lets check that how many locations have a moon phase listed as "Full Moon"
full_moon_count = df[df['moon_phase'] == 'Full Moon'].shape[0]
print(f"Locations with Full Moon: {full_moon_count}")

Locations with Full Moon: 2231

In [25]:
# Lets have a look that at which month has the lowest average temperature
lowest_avg_temp_month = df.groupby('month')['temperature_celsius'].mean().idxmin()
print(f"Number of Month when average temperature is lowest are: {lowest_avg_temp_month}")

Number of Month when average temperature is lowest are: 1

In [26]:
# count the occurence of each country 
top_countries =df['country'].value_counts().nlargest(10).index
# get top 10 country
filtered_df = df[df['country'].isin(top_countries)]

# create a count plot for the country column 
plt.figure (figsize=(12,6))
country_counts = sns.countplot(data = filtered_df,x='country',order = top_countries)

# add count on top of the bar as container 
for p in country_counts.patches:
    count_value =int(p.get_height())
    country_count.annotate(f"{count_value}",(p.get_x()+p.get_width()/2.,p.get_height()),

SyntaxError: incomplete input (4038940082.py, line 13)

In [ ]:
# Count the occurrences of each country
top_countries = df['country'].value_counts().nlargest(10).index  # Get top 10 countries
filtered_df = df[df['country'].isin(top_countries)]  # Filter dataset

# Create a count plot for the 'country' column
plt.figure(figsize=(12, 6))
country_counts = sns.countplot(data=filtered_df, x='country', order=top_countries)

# Add counts on top of each bar as a container
for p in country_counts.patches:
    count_value = int(p.get_height())
    country_counts.annotate(f'{count_value}', 
                            (p.get_x() + p.get_width() / 2., p.get_height()), 
                            ha='center', va='bottom', fontsize=10, color='black', 
                            xytext=(0, 5), textcoords='offset points',
                            bbox=dict(facecolor='white', edgecolor='black', boxstyle='round,pad=0.5')) 

# Set titles and labels
plt.title('Count of Weather Records by Top Countries', fontsize=16, fontweight='bold')  
plt.xlabel('Country', fontsize=14)
plt.ylabel('Count', fontsize=14)
plt.xticks(rotation=45)
plt.tight_layout()

# Show the plot
plt.show()

In [ ]:
# List of categorical columns to plot
categorical_columns = ['moon_phase', 'condition_text', 'wind_direction', 'country']

# Set up the subplot grid
fig, axes = plt.subplots(2, 2, figsize=(14, 10))  # Adjust rows, cols depending on the number of plots
axes = axes.flatten()  # Flattening for easy iteration

# Lets Get Set2 colors for the pie charts
pastel_colors = sns.color_palette("Set2", n_colors=6)

# Loop through each categorical column
for i, col in enumerate(categorical_columns):
    # Get the top 6 values
    top_6_values = df[col].value_counts().nlargest(6)
    
    # Plot pie chart for each
    top_6_values.plot(kind='pie', autopct='%1.1f%%', ax=axes[i], startangle=90, colors=pastel_colors)
    
    # Set title and label
    axes[i].set_title(f"{col}", fontweight='bold')
    axes[i].set_ylabel('') 
    axes[i].axis('equal')  

# Adjust layout
plt.tight_layout()
plt.show()

In [ ]:
# Sample 20 random locations from each country
sampled_df = df.groupby('country').apply(lambda x: x.sample(min(len(x), 20))).reset_index(drop=True)

# Create a geo map to visualize the locations
fig = px.choropleth(
    sampled_df,
    locations='country',  
    locationmode='country names',  
    color='temperature_celsius', 
    hover_name='location_name',  # Hover information
    title='<b>Geographical Distribution of Locations by Country</b>', 
    template='plotly_white'
)

# Update layout to remove the legend
fig.update_layout(showlegend=False)

# Show the plot
fig.show()

In [ ]:
# Set the style and palette
sns.set(style='whitegrid', palette='Set2')

# Group by 'location_name' and count occurrences to find the top 10 locations
top_locations = df['location_name'].value_counts().nlargest(10).index.tolist()

# Filter the DataFrame for the top 10 locations
df_top_10_locations = df[df['location_name'].isin(top_locations)]

# Determine the number of rows and columns for subplots
cols = 2  
rows = int(np.ceil(len(top_locations) / cols))

# Create subplots for the top 10 locations
fig, axs = plt.subplots(rows, cols, figsize=(12, 5 * rows))
axs = axs.flatten()  # Flatten the axes array for easier indexing

# Create a main title
fig.suptitle('Strip Plots of Temperature in Celsius for Top 10 Locations', fontsize=16, fontweight='bold')

# Create a strip plot for each of the top 10 locations
for i, location in enumerate(top_locations):
    sns.stripplot(data=df_top_10_locations[df_top_10_locations['location_name'] == location],
                  x='country', y='temperature_celsius', ax=axs[i], palette='Set2', jitter=True)
    axs[i].set_title(f'Strip Plot of Temperature in Celsius for {location}', fontweight='bold') 
    axs[i].set_xlabel('Country')
    axs[i].set_ylabel('Temperature (°C)')
    axs[i].tick_params(axis='x')
    axs[i].grid()

# Hide any unused subplots if there are fewer than 10 locations
for j in range(i + 1, len(axs)):
    axs[j].axis('off')

# Adjust layout
plt.tight_layout(rect=[0, 0, 1, 0.95])  
plt.show()

In [ ]:
# Calculate average humidity and air quality metrics by country
humidity_air_quality = df.groupby('country').agg({
    'humidity': 'mean',
    'air_quality_Ozone': 'mean',
    'air_quality_Nitrogen_dioxide': 'mean',
    'air_quality_Sulphur_dioxide': 'mean'
}).reset_index()

# Create a treemap
fig = px.treemap(humidity_air_quality,
                 path=['country'],
                 values='humidity',  
                 color='air_quality_Ozone',  
                 hover_data=['humidity', 'air_quality_Nitrogen_dioxide', 'air_quality_Sulphur_dioxide'],
                 title='<b>Treemap of Average Humidity and Air Quality by Country</b>')  

# Show the figure
fig.show()

In [ ]:
# Specify the columns to visualize
selected_columns = [
    'latitude', 'longitude', 'temperature_celsius',
    'temperature_fahrenheit', 'pressure_mb', 'pressure_in',
    'humidity', 'feels_like_celsius', 'feels_like_fahrenheit', 
    'air_quality_Ozone'
]

# Create a figure for the subplots
n_cols = 5
n_rows = (len(selected_columns) + n_cols - 1) // n_cols  # Calculate number of rows needed
fig, axes = plt.subplots(n_rows, n_cols, figsize=(20, 4 * n_rows))
axes = axes.flatten()  # Flatten the 2D array of axes to 1D for easy indexing

# Get the SET2 color palette
set2_palette = sns.color_palette("Set2", n_colors=len(selected_columns))

# Loop through the selected columns and create plots
for i, col in enumerate(selected_columns):
    sns.histplot(df[col], ax=axes[i], bins=30, kde=True, color=set2_palette[i])
    axes[i].set_title(col)
    axes[i].set_xlabel(col)
    axes[i].set_ylabel('Frequency')

# Hide any unused subplots
for j in range(i + 1, len(axes)):
    fig.delaxes(axes[j])

# Add the title 
plt.suptitle('Distribution of Weather Data columns', fontsize=16, fontweight='bold')

# Adjust layout
plt.tight_layout(rect=[0, 0, 1, 0.95]) 
plt.show()

In [ ]:
# Select numeric columns
numeric_columns = df.select_dtypes(include=['number']).columns

# Create a boolean mask for outliers
outlier_mask = pd.Series(False, index=df.index)

# Calculate IQR and identify outliers
for column in numeric_columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    # Update the outlier mask
    outlier_mask |= (df[column] < lower_bound) | (df[column] > upper_bound)

# Create a new DataFrame without outliers
df_no_outliers = df[~outlier_mask]

# Set up the matplotlib figure
num_cols = 5
num_rows = (len(numeric_columns) + num_cols - 1) // num_cols

plt.figure(figsize=(20, num_rows * 4))

# Create boxplots for the DataFrame without outliers
for i, column in enumerate(numeric_columns):
    Q1 = df_no_outliers[column].quantile(0.25)
    Q3 = df_no_outliers[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    plt.subplot(num_rows, num_cols, i + 1)
    sns.boxplot(y=df_no_outliers[column], palette='Set2')
    
    # Add lines for lower and upper bounds specific to each column
    plt.axhline(y=lower_bound, color='red', linestyle='--', label='Lower Bound')
    plt.axhline(y=upper_bound, color='blue', linestyle='--', label='Upper Bound')
    
    plt.title(column)
    plt.xlabel('')
    
    # Add the legend outside the boxplot area
    plt.legend(loc='upper right', bbox_to_anchor=(1.2, 1))

plt.tight_layout()
plt.show()

In [ ]:
# Calculate average temperature by humidity level
humidity_temp = df.groupby('humidity')['temperature_celsius'].mean().head()
humidity_temp.columns = ['Humidity', 'Average_Temperature_Celsius']

print(humidity_temp)

In [ ]:
# Count locations with UV index greater than 5
high_uv_count = df[df['uv_index'] > 10].shape[0]
print(f"Number of locations with UV index above 5: {high_uv_count}")